<?xml version="1.0" encoding="UTF-8"?>
<Configuration>1
    <Appenders>
		<Console name="console" target="SYSTEM_OUT">
		    <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%c] %-5p %F.%M():%L - %m%n"></PatternLayout>
		</Console>
        <RollingFile name="dailyRollingFile" fileName="/usr/local/share/apache-tomcat-8.0.22/lulu_log/LuluPortal.log" filePattern="/usr/local/share/apache-tomcat-8.0.22/lulu_log/LuluPortal_%d{yyyy-MM-dd}.log">
			<PatternLayout pattern="[%d{HH:mm:ss,SSS}-%-5p] %m (%F.%M():%L) [%c]%n"/>
			<Policies>
				<TimeBasedTriggeringPolicy />
			</Policies>
		</RollingFile>
		<RollingFile name="logFile" fileName="/usr/local/share/apache-tomcat-8.0.22/fin_log/bussiness.log" filePattern="/usr/local/share/apache-tomcat-8.0.22/fin_log/bussiness.log_%d{yyyy-MM-dd}.log">
			<PatternLayout pattern="%m%n"/>
			<Policies>
				<TimeBasedTriggeringPolicy />
			</Policies>
		</RollingFile>
       
    </Appenders>
    <Loggers>
        
        <Logger name="com.duzon.common" level="DEBUG" additivity="false">
            <AppenderRef ref="console" />
            <AppenderRef ref="dailyRollingFile" level="INFO" />
        </Logger>
        <Logger name="com.duzon.lulu" level="DEBUG" additivity="false">
            <AppenderRef ref="console" />
            <AppenderRef ref="dailyRollingFile" level="INFO" />
        </Logger>
        <Logger name="java.sql" level="INFO" additivity="false">
            <AppenderRef ref="console" />
            <AppenderRef ref="dailyRollingFile" />
        </Logger>
        <Logger name="jdbc.sqltiming" level="INFO" additivity="false">
            <AppenderRef ref="console" />
            <AppenderRef ref="dailyRollingFile" />
        </Logger>
        <Logger name="org.springframework" level="INFO" additivity="false">
            <AppenderRef ref="console" />
            <AppenderRef ref="dailyRollingFile" />
        </Logger>
        <Logger name="com.duzon.lulu.common.service.impl.LogWriterServiceImpl" level="DEBUG" additivity="false">
        	<AppenderRef ref="console" />
            <AppenderRef ref="logFile" />
        </Logger>
        
        <Root level="ERROR">
            <AppenderRef ref="console" />
            <AppenderRef ref="dailyRollingFile" />
        </Root>
        
    </Loggers>
</Configuration>
